body {
    background-color: #FDF364;
    margin: 0;
    padding-top: 80px;
    font-family: "Grenze", serif;
}

.superior {
    text-align: center;
    font-family: "Jomhuria", serif;
    color:#FDF364;
    -webkit-text-stroke: #C8BE36 1px;
    text-shadow: 2px 3px 2px #000;
    text-shadow: 2px 10px 17px rgba(5, 5, 5, 0.5);;
}

.superior h1 {
    font-size: 100px;
    margin-bottom: 10px;
}

.sub {
    color: aliceblue;
    -webkit-text-stroke: #B37A45 1px;
    font-size: 70px;
    text-shadow: 2px 3px 2px #000;
}

.caixas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 40px auto;
    max-width: 1200px;
    gap: 90px;
}

.caixa {
    background-color: #E8C67D;
    padding: 20px;
    border-radius: 20px;       
    width: 300px;
    min-height: 300px; 
    margin: 20px;
    box-shadow: 2px 2px 5px #000;
    transition: all 0,1s ease-in-out;
    cursor: pointer;
}
.caixa:hover{
    transform: translateY(3px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0,3);
}

.sujeito {
    font-family: "Jomhuria", serif;
    font-size: 45px;
    color: white;
    -webkit-text-stroke: #B37A45 1px;
    margin-bottom: 15px;
}

.texto {
    color: #B37A45;
    font-size: 24px;
    line-height: 1.2;
    text-align: justify;
}

.inferior {
    text-align: center;
    margin: 40px 0;
    text-shadow: 2px 3px 2px #000;
}

.ligue {
    font-family: "Jomhuria", serif;
    color: aliceblue;
    -webkit-text-stroke: #B37A45 1px;
    font-size: 50px;
    margin-bottom: 20px;
}

.link {
    background-color: #B37A45;
    padding: 10px;
    border-radius: 20px;
    display: inline-block;
}

.ajuda {
    color: #E8C67D;
    font-size: 20px;
    text-decoration: none;
}
