body {
    background-color: #2BAF2B !important;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

h1 {
    color: #006600 !important;
    -webkit-text-stroke: #38A352;
    -webkit-text-stroke-width: 1px;
    font-family: 'Jersey 25';
    font-size: 50px;
    text-align: center;
    width: 100%;
}

.navbar {
    margin-bottom: 20px;
    background-color: #B37A45 !important;
    width: 2000px;
}

.caixinha {
    width: 400px;
    height: 450px;
    background-color: #3FC93F;
    border-radius: 20px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h3 {
    color: #006600 !important;
    -webkit-text-stroke: #38A352;
    -webkit-text-stroke-width: 1px;
    font-family: 'Jersey 25';
    font-size: 30px;
    margin-bottom: 15px;
}

p {
    color: white;
    font-family: 'Grenze';
    font-size: 21px;
    max-width: 300px;
    margin: 0 auto;
}
